<%- include('header'); -%>
    <div classes="box" id="heading">
      <h1> <%=listTitle %>  </h1>
    </div>  
   
    <div class="box">
      <% for(var i=0;i<newitems.length;i++){ %>
         <div class="item">
          <input type="checkbox">
        <p> <%=newitems[i] %></p>
         </div>
       
        
      <% } %>
      <form  class="item" action="/"  method="post" >
         <div class="mb-3">
        
           <input type="text" class="form-control" id="exampleInputEmail1"  name="input" placeholder="New Item" autocomplete="off">
          
         <button type="submit" class="btn btn-primary" name="list" value=<%=listTitle %> >+</button>
       </form> 
      

    </div>
    <%- include('footer'); -%>